<footer>
    <div class="content">
        <div class="footer-first">
        	<h3>About</h3>
        	<ul>
        		<li><a href="/licensing" title="Licensing Information">Licensing</a></li>
        		<li><a href="/terms" title="Terms and Conditions">Terms & Conditions</a></li>
        		<li><a href="/privacy" title="Privacy Policy">Privacy Policy</a></li>
        	</ul>
        </div>
        <div class="footer-second">
        	<h3>Top Categories</h3>
        	<ul>
        		<li><a href="/drupal-themes">Free Drupal Themes</a></li>
        		<li><a href="/css-templates">Free CSS Templates</a></li>
        	</ul>
        </div>
        <div class="footer-third">
            <p>&copy; 2019 ThemeRoot.com.</p>
        </div>
    </div>
    <div class="backtotop">back to top</div>
</footer>
